<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Typing Test</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js" defer></script>
</head>
<body>
    <div id="app">
        <div id="d_title" class="stuff-box">
            <h1>{{ title }}</h1>
            <p>{{ subtitle }}</p>
        </div>

        <div v-if="not_playing">
            <div id="menu" class="stuff-box">
                <h2>Play</h2>
                <a href="#" class="play_button" @click="playGame">Play</a>
            </div>

            <div v-for="(score, index) in player_scores" class="stuff-box">
                <h5>Player {{ index }}: {{ score }}</h5>
            </div>
        </div>

        <div v-else id="game" class="stuff-box">
            <h3 id="next_word">{{ getNextWord }}</h3>
            <label for="typing_box">Type here!</label><br>
            <input type="text" id="typing_box" @keyup="checkTypingBox($event)">
        </div>
    </div>
</body>
</html>