.stuff-box {
    font-family: 'helvetica neue', helvetica, sans-serif;
    color: white;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: center;
    padding: 3px 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    background-color: dimgrey;
}

#d_title {
    border-color: dodgerblue;
}

#game {
    border-color: black;
    color: black;
    background-color: white;
}

#next_word {
    text-transform: lowercase;
}

#typing_box {
    padding: 0;
    height: 50px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 32px;
}

.play_button {
    box-shadow: 0px 10px 14px -7px #3e7327;
    background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    background-color:#77b55a;
    border-radius:4px;
    border:1px solid #4b8f29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:24px;
    font-weight:bold;
    padding:11px 29px;
    text-decoration:none;
    text-shadow:0px 1px 0px #5b8a3c;
}
.play_button:hover {
    background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    background-color:#72b352;
}
.play_button:active {
    position:relative;
    top:1px;
}
